<launch>
    <arg name="multi_robot_name" default="luigi"/>

    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="luigi"/>
    </include>

    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="dorrie"/>
    </include>
    
    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="rosalina"/>
    </include>
    
    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="peach"/>
    </include>
    
    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="yoshi"/>
    </include>
    
    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="toad"/>
    </include>
    
    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="wario"/>
    </include>
    
    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="nabbit"/>
    </include>
    
    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="diddy"/>
    </include>
    
    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="pauliene"/>
    </include>
    
    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="bowsette"/>
    </include>
    
    <include file="$(find multi_turtlebot3_test)/launch/single_turtlebot3_test.launch">
        <arg name="multi_robot_name" value="birdo"/>
    </include>
</launch>